scrollbarColor = pink
scrollbarSize = 20px

body, a, a:hover
  cursor url(http://cur.cursors-4u.net/nature/nat-10/nat924.cur), progress

::-webkit-scrollbar-track
  width scrollbarSize
  height scrollbarSize
  border 1px solid black
  background-color #F5F5F5

::-webkit-scrollbar
  width scrollbarSize
  height scrollbarSize
  background-color #F5F5F5

::-webkit-scrollbar-thumb
  width scrollbarSize
  height scrollbarSize
  background-color scrollbarColor

.construction
  display inline-block
  position absolute
  margin auto
  background linear-gradient(
    -45deg, 
    yellow  25%, 
    black 25%, 
    black 50%, 
    yellow  50%, yellow  75%, 
    black 75%
  )
  background-size 100px 100px
  text-align center
  z-index -10

.construction:after
  content " "
  display block
  position absolute
  top 0
  bottom 0
  margin auto
  width 100%
  height 80%
  background yellow
  z-index -9
